.DS_Store
vim/.netrwhist
vim/backups/*
vim/bundle/*
!/vim/bundle/c.vim
vim/bundle/c.vim/*
!/vim/bundle/c.vim/c-support/
vim/bundle/c.vim/c-support/*
!/vim/bundle/c.vim/c-support/templates/*
vim/spell/*
vim/swaps/*
vim/undo/*
gem
oh-my-zsh/*
!/oh-my-zsh/custom/*
*~
*.swp
*.swo